nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #cb8c54;
  gap: 54px;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  transition: all 0.5s;
}

nav a:hover {
  color: blue;
}

nav a svg {
  margin-right: 5px;
}